.env
demo_accounts.txt
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

flask_server.out
flask_server.err
neno.txt

snickr_part1_report.*
snickr_part2_report.*
!snickr_part1_report.pdf
!snickr_part2_report.pdf

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
